@using SAM.Web.Shop.Factories
@using SAM.Entities.Busqueda
@using SAM.Web.Shop.Models
@using SAM.Web.Shop.Resources.Views.WorkStatus
@using Resources.Views
@using SAM.Web.Shop.Extensions
@using System.Web.Script.Serialization;
@using Newtonsoft.Json
@model SearchControlNumberModel


@{ 
    Layout = "~/Views/Layouts/YardLayout.cshtml";
    string numberProcess = ViewContext.HttpContext.Request.QueryString.Get("NumberProcess");
    string dateProcess = ViewContext.HttpContext.Request.QueryString.Get("DateProcess");
    string projectId = ViewContext.HttpContext.Request.QueryString.Get("ProjectId");
    WorkstatusModel shipment = new WorkstatusModel(numberProcess, dateProcess, projectId, null);
    string DateProcess = string.Empty;
    string NumberProcess = string.Empty;
    
    if (Model == null)
    {
        DateProcess = DateTime.Now.ToShortDateString();
    }
    else
    {
        DateProcess = string.IsNullOrEmpty(Model.DateProcess) ? dateProcess : Model.DateProcess;
        DateProcess = string.IsNullOrEmpty(DateProcess) ? DateTime.Now.ToShortDateString() : DateProcess;
        NumberProcess = string.IsNullOrEmpty(Model.NumberProcess) ? numberProcess : Model.NumberProcess;
    }
}


<h4 class="header">@Html.Raw(WorkStatusStrings.PageHeader_Ship)</h4>


@using (Html.BeginForm("AddShipment", "Shipment", FormMethod.Get, new { role = "form", id = "shipment-shipment-form"}))
{
    <fieldset id="shipment-shipment-form" >
        <legend></legend>   
    
            <div class="form-group">
                @Html.Action("ProjectDropDown", "Controls", new { config = DropDownConfigurationFactory.GetRequired(Model, ViewContext.ViewData.ModelState) })   
            </div>
        
            <div class="form-group">
                <label class="caption">  @Html.Raw(WorkStatusStrings.NumberShipment) </label>                  
                @Html.TextBox("NumberProcess", NumberProcess, new { @class = "form-control", type = "string", id="NumberProcess" })   
            </div> 
         
            <div class="form-group">
                <label class="caption"> @Html.Raw(WorkStatusStrings.UploadDate)</label>
	           <div class='input-group date' id='datepicker' >
                    @Html.TextBox("DateProcess", DateProcess, new { @class = "form-control", type = "string", id = "datepicker", @readonly = "true" })                        
	                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
	            </div>                      	            
            </div>  
        
            <div class="form-group">
                 @Html.LabelFor(x => x.SearchType, new { @class = "show" })
                <label class="radio-inline">  
                    @Html.RadioButtonFor(x => x.SearchType, "cn")
                    @Html.Raw(CommonStrings.ControlNumber)
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(x => x.SearchType, "sp")
                    @Html.Raw(CommonStrings.Spool)
                </label>
            </div>  

            <div id="cnContainer" class="form-group clearfix">
                @Html.StyledLabelFor(x => x.WorkOrderNumber, new { @class = "show" })
                <div class="input-group col-xs-6 col-md-6 pull-left">
                    <span class="input-group-addon" id="wo-addon-text"></span>
                    @Html.StyledTextBoxFor(x => x.WorkOrderNumber, new { placeholder = CommonStrings.WoNumberWatermark, type = "tel" })
                </div>
                <div class="input-group col-xs-6 col-md-6 pull-left">
                    <span class="input-group-addon">-</span>
                    @Html.StyledTextBoxFor(x => x.ControlNumber, new { placeholder = CommonStrings.ControlNumberWatermark, type = "tel" })
                </div>
                @Html.ValidationMessageFor(x => x.WorkOrderNumber)
                @Html.ValidationMessageFor(x => x.ControlNumber)           
            </div>       

            <div id="spContainer" class="form-group">
                @Html.StyledLabelFor(x => x.SpoolName)
                @Html.StyledTextBoxFor(x => x.SpoolName)
                @Html.ValidationMessageFor(x => x.SpoolName)
            </div> 
        
            @Html.ValidationSummary(false, string.Empty, new { @class = "alert alert-danger" })
            @if(Model != null && Model.Exit ){
                <div class ="alert alert-info">
                    @Html.Raw(CommonStrings.SuccessfulEdition)
                </div>
            }
            <button type="submit" class="btn btn-primary btn-block" id="add"  >@Html.Raw(CommonStrings.AddButton_Text)</button>   
       
    </fieldset>
}


@using (Html.BeginForm("SaveShipment", "Shipment", new { role = "form", id = "shipment-form"}))
{  
   <fieldset id="shipment-form" role="form"> 
       <legend></legend>
       <div style="display:none">
            @Html.Hidden("ProcessDate", shipment.ProcessDate, new { @class = "form-control", type = "string" , id="datepicker"})
            @Html.TextBox("ProcessNumber", shipment.ProcessNumber, new { @class = "form-control", type = "string", id="ns"})
            @Html.Hidden("ProjectId",  shipment.ProjectId, new { @class = "form-control", type = "int" , id="projectId"})      
      </div>
      
    <div id="spoolsContainer" class="form-group">
      
        @if (Model != null)
        {
            if (Model.Spools != null && Model.Spools.Count > 0)
            {   
                
                    <div >
                        <div class="table-responsive">
                            <table class="table table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th style="display:none" >ordenSpoolId</th>
                                        <th>    </th>     
                                        <th>@Html.Raw(WorkStatusStrings.ControlNumber)</th>
                                        <th>@Html.Raw(WorkStatusStrings.Spool)</th>                                                   
                                        <th>@Html.Raw(WorkStatusStrings.SteelFamily)</th>
                                        <th>@Html.Raw(WorkStatusStrings.MaximumDiameter)</th>                                                                                     
                                        <th>@Html.Raw(WorkStatusStrings.Quadrant)</th>
                                    </tr>
                                </thead>
                                <tbody>                       
                                        @foreach (NumeroControlBusqueda cn in Model.Spools)
                                        {
                                      
                                            <tr>
                                                <td style="display:none" >@cn.OrdenTrabajoSpoolID</td>      
                                                <td id="delete" onclick="return delete('@cn.SpoolID');">@Html.ActionLink("...", "DeleteShipment", "Shipment", new { id = cn.SpoolID, projectId = Model.ProjectId, dateProcess = "DP", numberProcess= "NP"}, new { @class = "delete" })</td>
                                                <td><a href="#">@cn.NumeroControl</a></td>
                                                <td>@cn.Spool</td> 
                                                <td>@cn.FamiliaAcero</td>
                                                <td>@cn.DiametroMaximo</td>
                                                <td>@cn.Cuadrante</td>
                                            </tr>  
                                        }                            
                                </tbody>
                            </table>
                        </div>
                    </div>
                
               <button type="submit" class="btn btn-primary btn-block" id="save" >@Html.Raw(CommonStrings.SaveButton_Text)</button>
            }
        } 


    </div>
    </fieldset>
}


 @section scripts{
    <script type="text/javascript">

        $(function () {

            var prepare = new sam.pages.workstatus.index($("#shipment-shipment-form"), $("#shipment-form"));
            prepare.init();

        });
    </script>
}
