@using SAM.Web.Shop.Factories
@using SAM.Web.Shop.Models
@using Resources.Views
@using SAM.Web.Shop.Extensions
@using GridMvc.Html
@model SQModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/MasterLayout.cshtml";   
}

@section breadcrumbs
{
    @Html.Action("YardBreadcrumb", "Controls")

}
@section menus{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink(Resources.Views.CommonStrings.SearchMenu, "Index", "Yard")</li>
        <li>@Html.ActionLink(Resources.Views.CommonStrings.Location, "Index", "Location")</li>
        <li>@Html.ActionLink(Resources.Views.CommonStrings.SQ, "Index", "SQ")</li>
        <li>@Html.ActionLink(Resources.Views.CommonStrings.AutorizaSI, "Index", "AutorizarSI")</li>
    </ul>
}
<div id="contenedor">
    <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12" style="width:100%; margin: 0 auto;">    
        <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div id="divproyecto" class="form-group">
                @Html.Action("ProjectDropDown", "Controls", new { config = DropDownConfigurationFactory.GetRequiredADD(Model, ViewContext.ViewData.ModelState) })
            </div>
        </div>
        <br />
        <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
                @Html.Raw(CommonStrings.SQ)
                @Html.StyledTextBoxFor(x => x.SQ, new { placeholder = CommonStrings.marcaAguaSolInspect, type = "text", id = "txtSI" })
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <p class="alert alert-warning" id="seccionError" style="display: none; padding-top: 10px;"></p>
        </div>
        <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <button type="submit" id="BuscarSI" name="Command" value="BuscarSI" class="btn btn-primary btn-block">@Html.Raw(CommonStrings.Search)</button>
        </div>
    </div>
</div>
<div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12" id="contieneGrid" style="display:none; padding-top: 20px; margin: 0 auto;">
    <div id="grid" ></div>
</div>

<script>
    $(document).ready(function () {        
        IniciaGrid();
        $("#BuscarSI").click(function (e) {
            if (($("#ProjectIdADD").val() == "0" || $("#ProjectIdADD").val() == 0) && $("#txtSI").val() == "") {
                if ($("html").prop("lang") == "en-US") {
                    MostrarError("Please Select A Project And Enter Sol. Inspect");
                } else {
                    MostrarError("Por Favor Seleccione un Proyecto E Ingrese Sol. Inspect");
                }
            } else {                
                if ($("#ProjectIdADD").val() != "0" && $("#ProjectIdADD").val() != 0) {
                    if ($("#txtSI").val() != "") {
                        //Mostrar Spools          
                        BorrarSeccionError();
                        $.ajax(
                        {
                            type: 'GET',
                            url: '/AutorizarSI/ObtenerSpools/',
                            dataType: 'json',
                            data: { SI: $("#txtSI").val(), ProyectoID: $("#ProjectIdADD").val() },
                            success: function (data) {
                                if (data[0].result == "NODATA") {
                                    if ($("html").prop("lang") == "en-US") {
                                        MostrarError("No Information Was Found With Sol. Inspect: " + $("#txtSI").val());
                                    } else {
                                        MostrarError("No Se Encontró Información Con La Sol. Inspect: " + $("#txtSI").val());
                                    }
                                } else {
                                    var result = JSON.parse(data[0].result);
                                    $("#grid").data("kendoGrid").dataSource.data([]);
                                    $("#grid").data("kendoGrid").dataSource.data(result);
                                    $("#contieneGrid").css("display", "block");
                                    $(".k-grid-pager").css("width", "100%");
                                    //$("#grid").data("kendoGrid").dataSource.sync();
                                }
                            },
                            error: function () {
                                alert("Ocurrio un error");
                            }
                        });
                    } else {
                        //Falta SI
                        if ($("html").prop("lang") == "en-US") {
                            MostrarError("Please Enter Sol. Inspect");
                        } else {
                            MostrarError("Por Favor Ingrese Sol. Inspect");
                        }
                    }
                } else {
                    //Falta Proyecto
                    if ($("html").prop("lang") == "en-US") {
                        MostrarError("Please Select A Project.");
                    } else {
                        MostrarError("Por Favor Seleccione un Proyecto");
                    }
                }
            }
        });

    });
    function MostrarError(Error) {
        $("#seccionError").append("");
        $("#seccionError").html("");
        $("#seccionError").css("display", "block");
        $("#seccionError").append(Error);
    }
    function BorrarSeccionError(Error) {
        $("#seccionError").append("");
        $("#seccionError").html("");
        $("#seccionError").css("display", "none");        
    }
    function IniciaGrid() {
        kendo.ui.Grid.fn.editCell = (function (editCell) {
            return function (cell) {
                cell = $(cell);

                var that = this,
                    column = that.columns[that.cellIndex(cell)],
                    model = that._modelForContainer(cell),
                    event = {
                        container: cell,
                        model: model,
                        preventDefault: function () {
                            this.isDefaultPrevented = true;
                        }
                    };

                if (model && typeof this.options.beforeEdit === "function") {
                    this.options.beforeEdit.call(this, event);
                    if (event.isDefaultPrevented) return;
                }

                editCell.call(this, cell);
            };
        })(kendo.ui.Grid.fn.editCell);
        $("#grid").kendoGrid({
            autoBind: true,
            dataSource: {
                data: [],
                schema: {
                    model: {
                        fields: {                            
                            NumeroControl: { type: "string", editable: false },
                            SpoolID: { type: "int", editable: false },
                            CuadranteID: {type: "int", editable: false},
                            Cuadrante: { type: "string", editable: false },
                            Accion: { type: "int", editable: false },
                            OrdenTrabajoSpoolID: { type: "int", editable: false },
                            SqCliente: { type: "string", editable: false },
                            SQ: { type: "string", editable: false },
                            TieneHoldIngenieria: { type: "boolean", editable: false },
                            OkPnd: {type: "boolean", editable: false}
                        }
                    }
                },                
                pageSize: 10,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            navigatable: true,
            editable: true,
            autoHeight: false,
            autoWidth: false,            
            mobile: true,
            sortable: true,
            scrollable: false,
            pageable: {
                refresh: false,
                pageSizes: [10, 25, 50, 100],
                info: false,
                input: false,
                numeric: true,
            },
            columns: [
                { field: "NumeroControl", title: $("html").prop("lang") != "en-US" ? "Numero de Control" : "Control Number", width: "20px" },
                { field: "Cuadrante", title: $("html").prop("lang") != "en-US" ? "Cuadrante" : "Quadrant", width: "20px" },
                { field: "TieneHoldIngenieria", title: $("html").prop("lang") != "en-US" ? "Hold Ingenieria" : "Engineering Hold", template: "#=TieneHoldIngenieria ? 'Si' : 'No' #", width: "20px" },
                {
                    command: {
                        text: $("html").prop("lang") != "en-US" ? "Eliminar" : "Delete",
                         click: function (e) {
                             e.preventDefault();                           
                         }
                     },
                    title: $("html").prop("lang") != "en-US" ? "Eliminar" : "Delete",
                     width: "30px",
                     attributes: { style: "text-align:center;" }
                 }

            ],
            dataBound: function (e) {
                var grid = $("#grid").data("kendoGrid");
                var gridData = grid.dataSource.view();
                for (var i = 0; i < gridData.length; i++) {
                    var currentUid = gridData[i].uid;                   
                    var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    var editButton = $(currenRow).find(".k-button");                    
                    var classDescarga = $("html").prop("lang") == "es-MX" ? "k-grid-Cancelar" : "k-grid-Cancel";
                    editButton[0].outerHTML = '<a class="k-button k-button-icontext ' + classDescarga + '" href="#/" style="margin: 0 auto;"><span class=""></span>' + $("html").prop("lang") != "en-US" ? "Eliminar" : "Delete" + '</a>';                    
                }            
            }
        });          
    }
</script>
<style>
    #grid > .k-grid-header > div > table,
    #grid > .k-grid-content > table {
        width: 100% !important;
    }
    .k-grid tbody tr td a.k-button.k-grid-Cancelar,
    .k-grid tbody tr td a.k-button.k-grid-Cancel {
        background-image: url("/Content/images/borrar.png");
        padding-right: 10px;
        height: 20px;
        min-width: 20px !important;
        margin: 0px;
    }
</style>


