@using SAM.Web.Shop.Factories
@using SAM.Web.Shop.Models
@using Resources.Views
@using SAM.Web.Shop.Extensions
@using GridMvc.Html
@model SQModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/MasterLayout.cshtml";   
}

@section breadcrumbs
{
    @Html.Action("YardBreadcrumb", "Controls")

}
@section menus{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink(Resources.Views.CommonStrings.SearchMenu, "Index", "Yard")</li>
        <li>@Html.ActionLink(Resources.Views.CommonStrings.Location, "Index", "Location")</li>
        <li>@Html.ActionLink(Resources.Views.CommonStrings.SQ, "Index", "SQ")</li>
        <li>@Html.ActionLink(Resources.Views.CommonStrings.AutorizaSI, "Index", "AutorizarSI")</li>
    </ul>
}
<div id="contenedor" style="padding-bottom: 20px;" class="row">
    <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12" style="width:100%; margin: 0 auto;">    
        <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div id="divproyecto" class="form-group">
                @Html.Action("ProjectDropDown", "Controls", new { config = DropDownConfigurationFactory.GetRequiredADD(Model, ViewContext.ViewData.ModelState) })
            </div>
        </div>
        <br />
        <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
                @Html.Raw(CommonStrings.SQ)
                @Html.StyledTextBoxFor(x => x.SQ, new { placeholder = CommonStrings.marcaAguaSolInspect, type = "text", id = "txtSI" })
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12">            
            <p class="alert alert-info" id="seccionAviso" style="display: none; padding-top: 10px;"><img src="~/Content/Images/rotate36X36.gif" /></p>
            <p class="alert alert-warning" id="seccionError" style="display: none; padding-top: 10px;"></p>
        </div>
        <div class="row col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <button type="submit" id="BuscarSI" name="Command" value="BuscarSI" class="btn btn-primary btn-block">@Html.Raw(CommonStrings.Search)</button>
        </div>
    </div>
</div>
<div id="contieneGrid" style="display:none;">
    <div id="grid" style="padding-top: 20px; margin: 0 auto;"></div>
</div>

<script src="~/Scripts/Application/AutorizarSI/Captura.js"></script>
<script src="~/Scripts/Application/AutorizarSI/Handler.js"></script>
<script src="~/Scripts/Application/AutorizarSI/Ajax.js"></script>
<script>
    $(document).ready(function () {       
        ActivarEventos();
        if ($("#grid").hasClass("k-widget")) {
            $("#grid").removeClass("k-widget");
        }
        //$(".k-header").css("text-align", "center");//Centrar titulo de columnas                              
    });               
</script>
<style>
    .k-grid  .k-grid-header  .k-header  .k-link {
        height: auto;
        overflow-wrap: normal;
    }  
    .k-grid  .k-grid-header  .k-header {
        white-space: normal;
    }    
    /*.adaptive-grid-wrapper {
        position: relative;
        height: 130px;
     }*/
</style>


